/* styling body */
body{
  background-color: ghostwhite;
}

/* displaying spinner */
#spinner{
  display: none;
}

/*display error message */
#error-handle{
  display: none;
}

/* Adding header title color */
.color{
  color:darkcyan ;
}