/* styling body */
body{
  background-color: ghostwhite;
}
/* displaying spinner */
#spinner{
  display: none;
}

/*display error message */
#error-handle{
  display: none;
}

.color{
  color:darkcyan ;
}